.uk-card-badge{
    background-color: #fff;
}
.product-title{
    font-size: 16px;
    padding-top: 20px;
}
a{
    font-size: 12px;
}
.uk-badge{
    width: 40px;
    height: 40px !important;
    font-size: 16px!important;
    color: #fff;
    font-weight: 500;
}
.demo-trial-button{
    padding: 10px;
    border-radius: 30px;
    border-color: #0073e7;
    margin-right: 15px;
}
.uk-card{
    min-height: 300px;
}
.card-content{
    color: #778a9d;
    font-size: 14px;
}
.uk-card-body{
    min-height: 200px;
}
.uk-card-footer{
    border: 0px !important;
}